	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	body {
		min-height: 100vh;
		padding-bottom: 100px;
	}
	#map {
		display: block;
		width: 800px;
		height: 500px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.hint {
		margin-top: 50px;
	}
	.form {
		font-size: 0;
		text-align: center;
		margin-top: 30px;
		max-width: 500px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.form .item {
		display: inline-block;
		font-size: 14px;
		padding: 0 15px;
		width: 50%;
		vertical-align: top;
	}
	.form button {
		display: inline-block;
		font-size: 14px;
		margin-left: 15px;
		vertical-align: top;
	}

	